.form {
    min-width: 250;
    width: 80%;
    justify-content: center;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    margin: 3rem;
    width: 100%;
    align-items: center;
  }

button {
  margin : 3rem;
  width: 90%;
  background-color :#A3C644 ;
  color: #ffffff;
}

.code{ 
  width : 30% ;
}
.phone{
  width : 70%;
}

input {
  padding-left: 5px;
}