<div style="display: flex; flex-direction: row;">
    <div class="form-div">
        <h3>Visitor Details</h3>
        <img src="assets/profile-pic.png" alt="profile picture" class="profile-pic">
        <form [formGroup]="visitorRegForm">
            <mat-grid-list cols="1" rowHeight="80px">

                <mat-grid-tile>
                    <mat-form-field class="form-element">
                        <input matInput placeholder="First Name" formControlName="firstName" required>
                        <mat-error
                            *ngIf="visitorRegForm.get('firstName').touched && !visitorRegForm.get('firstName').valid">
                            Required field
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Last Name" formControlName="lastName" required>
                        <mat-error
                            *ngIf="visitorRegForm.get('lastName').touched && !visitorRegForm.get('lastName').valid">
                            Required field
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="form-element">
                        <input matInput placeholder="National ID" formControlName="nationalId" required>
                        <mat-error
                            *ngIf="!visitorRegForm.get('nationalId').valid && visitorRegForm.get('nationalId').touched">
                            Required field
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Company Name" formControlName="companyName">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div class="form-element">
                        <mat-form-field class="code">
                            <mat-label>Country Code</mat-label>
                            <mat-select required formControlName="primaryCountryCode">
                                <mat-option *ngFor="let code of countryCode" [value]="code.dial_code">
                                    {{code.dial_code}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="!visitorRegForm.get('primaryCountryCode').valid && visitorRegForm.get('primaryCountryCode').touched">
                                Required field
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="phone">
                            <input matInput placeholder="Primary Phone" formControlName="primaryPhNumber" required>
                            <mat-error
                                *ngIf="visitorRegForm.get('primaryPhNumber').touched && visitorRegForm.get('primaryPhNumber').errors?.required">
                                Required field
                            </mat-error>
                            <mat-error
                                *ngIf="visitorRegForm.get('primaryPhNumber').touched && 
                                        (visitorRegForm.get('primaryPhNumber').errors?.minlength || visitorRegForm.get('primaryPhNumber').errors?.maxlength)">
                                Phone Number must have 10 numbers
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div class="form-element">
                        <mat-form-field class="code">
                            <mat-label>Country Code</mat-label>
                            <mat-select formControlName="secondaryCountryCode">
                                <mat-option *ngFor="let code of countryCode" [value]="code.dial_code">
                                    {{code.dial_code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="phone">
                            <input matInput placeholder="Secondary Phone" formControlName="secondaryPhNumber">
                            <mat-error
                                *ngIf="visitorRegForm.get('secondaryPhNumber').touched && visitorRegForm.get('secondaryPhNumber').errors?.required">
                                Required field
                            </mat-error>
                            <mat-error
                                *ngIf="visitorRegForm.get('secondaryPhNumber').touched && 
                                        (visitorRegForm.get('secondaryPhNumber').errors?.minlength || visitorRegForm.get('secondaryPhNumber').errors?.maxlength)">
                                Phone Number must have 10 numbers
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Email Address" formControlName="email" required>
                        <mat-error *ngIf="visitorRegForm.get('email').touched && !visitorRegForm.get('email').valid">
                            Required field
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>
        </form>
        <div class="buttons-div">
            <button mat-raised-button (click)="onSubmit()">Submit</button>
            <button mat-raised-button (click)="resetForm()">Cancel</button>
        </div>
    </div>

    <div *ngIf="showEvents" class="events-div">
        <div class="create-invite">
            <button mat-raised-button color="primary" (click)="createNewInvitation()">Create Invitation</button>
        </div>
        <app-visit-events [INVITATIONS]="invitations"></app-visit-events>
    </div>

    <div *ngIf="!showEvents" class="events-div">
        <div class="create-invite">
            <button mat-raised-button color="primary" (click)="backToAdminHomePage()">Back</button>
        </div>
    </div>
</div>