.form-div {
    min-width: 250px;
    width: 50%;
    justify-content: center;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    margin: 2rem;
    width: 100%;
    align-items: center;
  }

  .profile-pic {
    width: 8rem;
    margin-left: 2rem;
  }

  .events-div {
    width: 50%;
  }

  .code{ 
    width : 30% ;
  }
  .phone{
    width : 70%;
  }

  .create-invite {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}